/Codigo/Telas/bin
/Codigo/Telas/obj
/Codigo/Backup/obj
/Codigo/Backup/bin
/Codigo/Dados/bin
/Codigo/Dados/obj
/Codigo/Dominio/obj
/Codigo/Dominio/bin
/Codigo/Negocio/obj
/Codigo/Negocio/bin
/Codigo/Util/obj
/Codigo/Util/bin
/Codigo/CartaoCredito/obj
/Codigo/CartaoCredito/bin
/Codigo/Exception/bin
/Codigo/Exception/obj
/CodigoNet/SACE/Dominio/bin
/CodigoNet/SACE/Dominio/obj
/CodigoNet/SACE/Dados/bin
/CodigoNet/SACE/Negocio/obj
/CodigoNet/SACE/Negocio/bin
/CodigoNet/SACE/Telas/bin
/CodigoNet/SACE/Telas/obj
/CodigoNet/SACE/Util/bin
/CodigoNet/SACE/Util/obj
/Codigo/.vs
/Codigo/Core/bin
/Codigo/Core/obj
/Codigo/packages
/CodigoNet/SACE/.vs
/CodigoNet/SACE/Dados/obj
