<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Util.UtilConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Util.Util.SaceConnection" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Util.Util.SaceConnectionBackup" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Util.UtilConfig.SaceConnection" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Util.UtilConfig.SaceConnectionBackup" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
    </connectionStrings>
    <applicationSettings>
        <Util.UtilConfig>
            <setting name="ICMS_LOCAL" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="ACRESCIMO_PADRAO" serializeAs="String">
                <value>1.111111</value>
            </setting>
            <setting name="LOJA_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PASTA_COMUNICACAO_PRODUTOS_ATUALIZADOS" serializeAs="String">
                <value>C:\\Dropbox\\SACE\\ProdutosAtualizados\\</value>
            </setting>
            <setting name="CLIENTE_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SAIDA_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ENTRADA_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SIMPLES" serializeAs="String">
                <value>11</value>
            </setting>
        </Util.UtilConfig>
    </applicationSettings>
</configuration>