<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Util.UtilConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Util.Util.SaceConnection" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Util.Util.SaceConnectionBackup" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Util.UtilConfig.SaceConnection" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Util.UtilConfig.SaceConnectionBackup" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
    </connectionStrings>
    <applicationSettings>
        <Util.UtilConfig>
            <setting name="ICMS_LOCAL" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="ACRESCIMO_PADRAO" serializeAs="String">
                <value>1.111111</value>
            </setting>
            <setting name="LOJA_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PASTA_COMUNICACAO_PRODUTOS_ATUALIZADOS" serializeAs="String">
                <value>C:\\Dropbox\\SACE\\ProdutosAtualizados\\</value>
            </setting>
            <setting name="CLIENTE_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SAIDA_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ENTRADA_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SIMPLES" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="AMBIENTE_NFE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LINHA_COMPRIMIDA" serializeAs="String">
                <value>==========================================</value>
            </setting>
            <setting name="NFE_MENSAGEM_PADRAO" serializeAs="String">
                <value>DOCUMENTO EMITIDO POR ME OU EPP OPTANTE PELO SIMPLES NACIONAL. NÃO GERA DIREITO A CRÉDITO FISCAL DE IPI.</value>
            </setting>
            <setting name="CARTAO_LOJA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NUMERO_MESES_ANALISAR_ESTOQUE" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NUMERO_DIAS_PRODUTO_STATUS_COMPRADO" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="C_ORGAO_IBGE_SERGIPE" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="SERVIDOR_NFE" serializeAs="String">
                <value>SERVIDOR</value>
            </setting>
            <setting name="SERVIDOR_IMPRIMIR_REDUZIDO1" serializeAs="String">
                <value>SM_VENDAS01</value>
            </setting>
            <setting name="SERVIDOR_IMPRIMIR_REDUZIDO2" serializeAs="String">
                <value>SERVIDOR</value>
            </setting>
            <setting name="BACKCOLOR_FOCUS" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="BACKCOLOR_FOCUS_LEAVE" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PORTA_IMPRESSORA_REDUZIDA2" serializeAs="String">
                <value>\\VENDAS02\MP-4200 TH</value>
            </setting>
            <setting name="PORTA_IMPRESSORA_REDUZIDA1" serializeAs="String">
                <value>\\VENDAS01\DARUMA</value>
            </setting>
            <setting name="PROFISSIONAL_PADRAO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DEPOSITO_PADRAO" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DESCONTO_PADRAO" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SERVIDOR_IMPRIMIR_NFE" serializeAs="String">
                <value>SERVIDOR</value>
            </setting>
            <setting name="QUANTIDADE_DIAS_CREDIARIO" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PESSOA_USO_INTERNO" serializeAs="String">
                <value>1324</value>
            </setting>
            <setting name="PESSOA_BAIXA_ESTOQUE" serializeAs="String">
                <value>2048</value>
            </setting>
        </Util.UtilConfig>
    </applicationSettings>
</configuration>