<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <connectionStrings>
        <add name="Dados.Properties.Settings.saceConnectionString" connectionString="server=localhost;User Id=sace;database=sace;password=sace;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
