<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Telas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Dados.Properties.Settings.saceConnectionString" connectionString="server=localhost;User Id=sace;database=sace;password=sace;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />
    <add name="Dados.Properties.Settings.SaceEntities" connectionString="metadata=res://*/ModelSace.csdl|res://*/ModelSace.ssdl|res://*/ModelSace.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=sace;password=sace;Persist Security Info=True;database=sace&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Telas.Properties.Settings>
      <setting name="ServidorImprimirReduzido1" serializeAs="String">
        <value>SM-VENDAS01</value>
      </setting>
      <setting name="ClienteUsoInterno" serializeAs="String">
        <value>1324</value>
      </setting>
      <setting name="ClienteBaixaEstoque" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="ServidorNfe" serializeAs="String">
        <value>SERVIDOR</value>
      </setting>
      <setting name="ServidorImprimirReduzido2" serializeAs="String">
        <value>SERVIDOR</value>
      </setting>
    </Telas.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
 </runtime>
</configuration>
