<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Telas.Properties.Settings.saceConnectionString" connectionString="server=localhost;User Id=root;database=sace;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />
    <add name="saceEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=sace;database=sace;Persist Security Info=True;password=sace&quot;" providerName="System.Data.EntityClient" />
    <add name="saceEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=sace;database=sace;Persist Security Info=True;password=sace&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>