<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Telas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
                  </configSections>
  <connectionStrings/>
  <applicationSettings>
    <Telas.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>Retaguarda</value>
      </setting>
      <setting name="ServidorNfe" serializeAs="String">
        <value>MARCOSDOSEA</value>
      </setting>
      <setting name="ServidorCartao" serializeAs="String">
        <value>SERVIDOR</value>
      </setting>
      <setting name="ServidorNfeDeposito" serializeAs="String">
        <value>Servidor</value>
      </setting>
      <setting name="NfceServidor" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NfceOnline" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServidorImprimirNfe" serializeAs="String">
        <value>SERVIDOR</value>
      </setting>
      <setting name="ServidorImprimirNfce" serializeAs="String">
        <value>RETAGUARDA</value>
      </setting>
      <setting name="ServidorImprimirReduzido1" serializeAs="String">
        <value>RETAGUARDA</value>
      </setting>
      <setting name="ServidorImprimirReduzido2" serializeAs="String">
        <value>RETAGUARDA</value>
      </setting>
    </Telas.Properties.Settings>
  </applicationSettings>
</configuration>
