<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.saceConnectionString" connectionString="server=192.168.0.3;User Id=sace;database=sace;password=sace;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>