<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="Dados.Properties.Settings.saceConnectionString" connectionString="server=localhost;User Id=sace;database=sace;password=sace;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="SaceEntities" connectionString="metadata=res://*/ModelSace.csdl|res://*/ModelSace.ssdl|res://*/ModelSace.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=sace;password=sace;Persist Security Info=True;database=sace&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Dados.Properties.Settings.SaceEntities" connectionString="metadata=res://*/ModelSace.csdl|res://*/ModelSace.ssdl|res://*/ModelSace.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=sace;password=sace;Persist Security Info=True;database=sace&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>