<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Negocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Negocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Negocio.Service1">
                <endpoint address="" binding="wsHttpBinding" contract="Negocio.IService1">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Negocio/Service1/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <Negocio.Properties.Settings>
            <setting name="PASTA_MYSQL_SERVER" serializeAs="String">
                <value>C:\Program Files (x86)\MySQL\MySQL Server 5.5</value>
            </setting>
            <setting name="SGBD_NOME" serializeAs="String">
                <value>sace</value>
            </setting>
            <setting name="SGBD_USUARIO" serializeAs="String">
                <value>sace</value>
            </setting>
            <setting name="SGBD_SENHA" serializeAs="String">
                <value>sace</value>
            </setting>
            <setting name="SGBD_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Negocio.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Negocio.Properties.Settings>
            <setting name="PASTA_BACKUP" serializeAs="String">
                <value>C:\DROPBOX\BACKUP_SACE</value>
            </setting>
        </Negocio.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
