<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Telas.Properties.Settings.saceConnectionString" 
             connectionString="server=localhost;User Id=root;database=sace;Persist Security Info=True;password=root"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>