<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sace.sace.SaceConnection" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
        <add name="Sace.sace.SaceConnectionBackup" connectionString="server=localhost;port=3306;user=root;password=123456;database=sace;" />
    </connectionStrings>
</configuration>