<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SACE.Properties.Settings.saceConnectionString" connectionString="server=localhost;user id=root;database=sace;password=010182;persist security info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>