<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="saceEntities" connectionString="metadata=res://*/sace.csdl|res://*/sace.ssdl|res://*/sace.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=010182;Persist Security Info=True;database=sace&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>