<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.saceConnectionString" connectionString="server=localhost;User Id=root;database=sace;password=010182;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="SACE.Dados.Properties.Settings.saceConnectionString"
            connectionString="server=localhost;User Id=root;database=sace;password=root;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>